* {
  margin: 0px;
  font-size: 26px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
 }

body {
  background-color: rgb(214, 214, 214);
  overflow-x: hidden;
}

.item {
  margin-top: 10px;
  margin-left: 10px;
  border: 3px solid rgb(118, 131, 171);
  background-color: white;
  width: 400px;
  border-radius: 10px;
}

.item_bot {
  margin-top: 3px;
  display: inline-flex;
}

.date {
  background-color: rgb(196, 196, 196);
  width: 137px;
  padding-left: 5px;
  margin: 5px 5px 5px 5px;
  border-radius: 15px;
}

.item_title {
  margin: 3px 3px 0px 5px;
}

.delete_btn:before {
  content: "";
  position: absolute;
  width: 32px;
  height: 0;
  background: rgba(118, 131, 171, 0.24);
  border-radius: 5px;
  transition: all 0s ease;
  cursor: pointer;
}

.delete_btn:hover:before {
  height: 32px;
}

.delete_btn {
  float: right;
  margin: 0px;
  margin-right: 3px;
  padding: 0px;
  outline: none;
  border: 0;
  background: transparent;
  margin-top: 1px;
  margin-bottom: -6px;
}

.edit_btn:before {
  content: "";
  position: absolute;
  width: 32px;
  height: 0;
  background: rgba(118, 131, 171, 0.24);
  border-radius: 5px;
  transition: all 0s ease;
  cursor: pointer;
}

.edit_btn:hover:before {
  height: 32px;
}

.edit_btn {
  float: right;
  margin: 0px;
  padding: 0px;
  outline: none;
  border: 0;
  background: transparent;
  margin-top: 1px;
  margin-bottom: -6px;
}

.top_btns {
  border: 3px solid rgb(118, 131, 171);
  float: right;
  margin-right: -3px;
  margin-top: -6px;
  margin-left: 3px;
  width: 70px;
  border-radius: 10px;
}

.isDone {
  width: 36px;
  height: 36px;
  margin-top: -1px;
  margin-left: 207px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: rgb(196, 196, 196);
  border-radius: 30%;
}

.isDone:hover {
  cursor: pointer;
  border: 3px solid rgb(48,68,127);
  border-width: 3px;
}


.isDone:checked {
  background-color: rgb(118, 212, 189);
}

.header {
  height: 70px;
  background-color: rgb(20,43,111);
  align-items: center;
  display: flex;
  width: 100%;
}

.logo_text {
  color:white;
  margin-left: auto;
  margin-right: auto;
  font-size: 60px;
  padding-left: 300px;
  padding-right: 20px;
}

.enter {
  margin-right: 10px;
  color:white;
  background-color: rgb(39,60,122);
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
}

.enter:hover {
  background-color: white;
  color: rgb(20,43,111);
  transition: all 0.2s ease;
  cursor: pointer;
}

.register {
  margin-right: 10px;
  color:white;
  background-color: rgb(39,60,122);
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
}

.register:hover {
  background-color: white;
  color: rgb(20,43,111);
  transition: all 0.2s ease;
  cursor: pointer;
}

.ent_reg {
  display: flex;
}

.mainspace {
  display: flex;
}


.space {
  margin-top: 40px;
  position:absolute;
  margin-left: 300px;
  width: calc(100% - 240px);
  display: flex;
  overflow-x: auto;
  height: calc(100% - 110px);
}

.left_list {
  margin-left: 100px;
}

.middle_list {
  margin-left: 100px;
}

.rigth_list {
  margin-left: 100px;
  margin-right: 170px;
}

.menu {
  position:absolute;
  height: calc(100% - 70px);
  width: 300px;
  background-color: rgb(235,235,235);
}

.list_title {
  color:rgb(48,68,127);
  text-align: center;
  font-size: 35px;
}

.space_name {
  margin-bottom: 5px;
  text-align: center;
  font-size: 34px;
}

.space_name:hover {
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
}

.space_names {
  margin-top: 30px;
}

.menu_name {
  color:rgb(48,68,127);
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
}


#main {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#okno {
  width: 500px;
  height: 100px;
  text-align: center;
  padding: 15px;
  border: 3px solid #0000cc;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: rgb(246, 246, 246);
  backdrop-filter: blur(5px);
}

#main:target {display: block;}